{"filter":false,"title":".browserslistrc","tooltip":"/work-github/.browserslistrc","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1693843873895,"hash":"5311bb9aa537e145409206e1074f14c9c5a5c524"}