{"filter":false,"title":".gitignore","tooltip":"/musearch/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":40,"column":0},"end":{"row":40,"column":1},"action":"insert","lines":["/"],"id":2}],[{"start":{"row":40,"column":1},"end":{"row":40,"column":2},"action":"insert","lines":["."],"id":3}],[{"start":{"row":40,"column":2},"end":{"row":40,"column":3},"action":"insert","lines":["e"],"id":4},{"start":{"row":40,"column":3},"end":{"row":40,"column":4},"action":"insert","lines":["n"]},{"start":{"row":40,"column":4},"end":{"row":40,"column":5},"action":"insert","lines":["v"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":40,"column":5},"end":{"row":40,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1701583655396,"hash":"2e1dd9caed5b0dc14cfc461136d8eeebea766e71"}